body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif; 
    color: #ffffff;
}

.archive {
width: 960px; 
margin-left: auto;
margin-right: auto;
}

.header-article {
    display: flex;
    align-items: center;
    gap: 600px;
}

.header img {
    display: block; 
    width: 200px;
    height: 200px;
    border: 10px solid #1b3d36;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: auto; 
    margin-right: auto;
}

.header-article img {
    width: 200px;
    height: auto;
    border: 10px solid #1b3d36;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: block;
}

.all-articles a {
color: #ffffff;
}
.all-articles {
display: inline-flex;
margin: 0;
gap: 8px;
}

.article {
width: 960px; 
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
}

.post-title a {
color: #ffffff;
}

.article-author { 
width: 50%; 
float: left;
}

.article-created-date { 
text-align: right;
}